@import url(//fonts.googleapis.com/css?family=Lato:300:400);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9eef2;
}

#nav-bar {
  margin-top: 0px;
  margin-bottom: 0px;

  width: 60px;
  height: fit-content;
  border: 1px solid #bed1df;
  border-radius: 4%;
  /* background-color: white; */
  -webkit-box-shadow: -2px 3px 2px 0px rgba(5, 0, 0, 0.11);
  -moz-box-shadow: -2px 3px 2px 0px rgba(5, 0, 0, 0.11);
  box-shadow: -2px 3px 2px 0px rgba(5, 0, 0, 0.11);
}
.link {
  color: #bed1df;
}

li {
  margin-top: 10px;
  color: #7eb6df;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em;
  list-style: none;
}

li.level-one {
  font-size: 1.5em;
  text-align: center;
  border-top: 1px solid #bed1df;
  cursor: pointer;
}

li.level-one:first-child {
  border-top: none;
}

li.level-one:hover {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(233, 238, 242, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(47%, rgba(246, 246, 246, 1)),
    color-stop(100%, rgba(233, 238, 242, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(233, 238, 242, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(233, 238, 242, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(233, 238, 242, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(233, 238, 242, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9eef2', GradientType=0 );
}

#selected {
  background: #3f8eb9;
  -webkit-box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.45);
  box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.45);
}
#selected1 {
  background: #3f8eb9;
  -webkit-box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.45);
  box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.45);
}
#selected2 {
  background: #3f8eb9;
  -webkit-box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.45);
  box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.45);
}
#selected3 {
  background: #3f8eb9;
  -webkit-box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.45);
  box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.45);
}

#selected4 {
  background: #3f8eb9;
  -webkit-box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.45);
  box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.45);
}

i {
  color: #bed1df;
  margin: 25%;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  color: #bed1df;
  margin: 50px;
}

a {
  /* color: #3f8eb9; */
  text-decoration: none;
}

.level-one {
  position: relative;
}

.level-two {
  display: none;
  position: absolute;
  height: 50px;
  width: 100px;
  background: #ffffff;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.65em;
  text-align: center;
}

.level-two:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #fff;
  display: block;
  width: 0;
  z-index: 1;
  left: -9px;
  top: 15px;
}

.level-two li {
  margin: 15px;
}

.level-one:hover > .level-two {
  display: block;
}

.level-two {
  left: 130%;
  top: 0;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 24px;
}

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header {
  position: relative;
  text-align: center;
  margin-top: 0px;
  background: linear-gradient(
    60deg,
    rgb(102, 233, 200) 0%,
    rgb(54, 156, 240) 100%
  );
  color: white;
  padding-top: 27rem;
}
.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  margin-top: 0px;
  margin-bottom: 100px;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 80px;
  max-height: 100px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
  margin-top: 0px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
